/* Background Shapes and Grid Overlay */
.shapes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(60px); /* Blur Effect */
    z-index: -2; /* Keep shapes behind content */
    pointer-events: none;
  }

  .grid-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 25px 25px; /* Grid spacing */
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
  }
  

  .circle {
    position: absolute;
    border-radius:50%;
    opacity: 0.15;
    /* box-shadow: 0 0 100px 150px rgba(255, 255, 255, 0.2); Extra glow */
    animation: moveSideways 6s infinite alternate ease-in-out;
    filter: brightness(2.2);
  }
  
  /* Different circles with unique positions, sizes, and colors */
  .circle1 {
    width: 20vw;
    height: 20vw;
    background: radial-gradient(circle, rgba(138, 43, 226, 1) 30%, rgba(138, 43, 226, 0.5) 70%);
    /* background-color: radial-gradient(circle, rgba(138, 43, 226, 1) 30%, rgba(138, 43, 226, 0) 80%); */
    box-shadow: 0 0 150px 185px rgba(138, 43, 226, 0.6); /* Light rays effect */
    top: 3%;
    left: -10%;
    animation-duration: 8s;
  }
  
  .circle2 {
    width: 20vw;
    height: 20vw;
    background: radial-gradient(circle, rgba(50, 182, 230, 1) 30%, rgba(50, 182, 230, 0.5) 70%);
    /* background-color: rgba(186, 16, 205, 0.6); */
    box-shadow: 0 0 150px 185px rgba(50, 182, 230, 0.6); /* Light rays effect */
    top: 75%;
    left: 20%;
    animation-duration: 6s;
  }
  
  
  .circle3 {
    width: 20vw;
    height: 20vw;
    background: radial-gradient(circle, rgba(138, 43, 226, 1) 30%, rgba(138, 43, 226, 0.5) 70%);
    /* background-color: rgba(43, 123, 252, 0.6); */
    box-shadow: 0 0 150px 185px rgba(138, 43, 226, 0.6); /* Light rays effect */
    top: 35%;
    left: 70%;
    animation-duration: 10s;
  }
  
  .circle4 {
    width: 20vw;
    height: 20vw;
    background: radial-gradient(circle, rgb(50, 182, 230, 1) 30%, rgba(50, 182, 230, 0.5) 70%);
    /* background-color: rgba(191, 64, 191, 0.6); */
    box-shadow: 0 0 150px 185px rgba(50, 182, 230, 0.6); /* Light rays effect */
    top: -10%;
    left: 30%;
    animation-duration: 7s;
  }
  
  /* Smooth left-right movement */
  @keyframes moveSideways {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px); /* Moves smoothly to the right */
    }
  }

  
  