/* Background Shapes and Grid Overlay */
.grid-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 25px 25px; /* Grid spacing */
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}


  
  