body {
    background:
    radial-gradient(circle at 20% 30%, #7c3aed55, transparent 60%),
    radial-gradient(circle at 80% 70%, #22d3ee55, transparent 60%),
    linear-gradient(120deg, #020617, #0f172a);
  background-size: 200% 200%;
  animation: bgMove 30s ease infinite;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

  @keyframes bgMove {
  0%   { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

.gradient-text {
  background: linear-gradient(90deg, rgb(50, 182, 230), rgb(138, 43, 226)); /* Customize here */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}