body {
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

@media (prefers-reduced-motion: reduce) {
  body {
    animation: none;
  }
}

.gradient-text {
  background: linear-gradient(90deg, rgb(50, 182, 230), rgb(138, 43, 226)); /* Customize here */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}