body {
    min-height: 100vh;
    background:
      linear-gradient(120deg, #020617, #1b314b, #0f172a, #312e81,);
    background-size: 100% 100%;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }


.gradient-text {
  background: linear-gradient(90deg, rgb(50, 182, 230), rgb(138, 43, 226)); /* Customize here */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}