.header {
  position: sticky;
  scroll-behavior: smooth;
  background-color: rgba(5, 19, 35, .4) !important;
  backdrop-filter: blur(80px);
  color: #ffffff !important;
  /* z-index: 1200 !important; */
  overflow: hidden;
}

